<form #form="ngForm">
  <div *ngIf="parentOrganization" class="row">
    <div class="col-md-4">
      <div class="form-group section">
        <p class="form-control-static"><span translate>Main organization</span>: {{parentOrganization}}</p>
      </div>
    </div>
  </div>

  <div *ngFor="let language of organization.translations">

    <h4>{{language.languageName}}</h4>
    <div class="row">
      <div class="col-md-4">

        <div class="form-group section">

          <label for="'name_' + language.language" translate>Name</label>
          <input *ngIf="editing" type="text" class="form-control" [id]="'name_' + language.language"
            [name]="'name_' + language.language" [(ngModel)]="language.name">
          <p *ngIf="!editing" class="form-control-static">{{language.name}}</p>

        </div>

      </div>

      <div class="col-md-8">

        <div class="form-group section">

          <label for="'description_' + language.language" translate>Description</label>
          <textarea *ngIf="editing" [id]="'description_' + language.language"
            [name]="'description_' + language.language" class="form-control" rows="1"
            [(ngModel)]="language.description"></textarea>
          <p *ngIf="!editing" class="form-control-static">{{language.description}}</p>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="url_input">Url</label>
        <input *ngIf="editing" type="text" class="form-control" id="url_input" name="url_input"
          [(ngModel)]="organization.url">
        <p *ngIf="!editing" class="form-control-static">{{organization.url}}</p>
      </div>
    </div>
    <div class="col-12">

      <div class="form-check" *ngIf="editing">
        <label class="form-check-label">
          <input class="form-check-input" id="organization_removed_checkbox" type="checkbox" name="removed"
            [(ngModel)]="organization.removed" />
          {{'Removed' | translate}}
        </label>
      </div>

      <div *ngIf="!editing && organization.removed" class="alert alert-danger d-inline-block" role="alert" translate>
        Removed</div>
    </div>
  </div>
</form>